.slider
{
    flex: 1;
    padding: 35px;
    border-bottom: 1px solid rgb(233, 229, 229) ;
    .sliderContainer
    {
        display: flex;
        align-items: center;
        justify-content: center;

        .brandslider
        {
            width: 100%;
            height: auto;
            .react-multi-carousel-list{
                justify-content: space-around;
            }
        }
    }
}